<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/css/style.css" title="" type="text/css" />
    <title></title>
  </head>
  <body>
    <section>
      <h2>Vinh's Movie Ratings</h2>
      <h3>See if your opinions are correct!</h3>
    </section>
    <div class="center">
      <img src="{{posterUrl}}" alt="" />
      <form action="/movies/{{_id}}/edit" method="post">
        <table>
          <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" name="title" id="title" value="{{title}}" /></td>
          </tr>
          <tr>
            <td><label for="director">Director</label></td>
            <td><input type="text" name="director" id="director" value="{{director}}" /></td>
          </tr>
          <tr>
            <td><label for="year">Year</label></td>
            <td><input type="text" name="year" id="year" value="{{year}}" /></td>
          </tr>
          <tr>
            <td><label for="my-rating">My Rating</label></td>
            <td><input type="number" min="0" max="5" name="myRating" id="my-rating" value="{{myRating}}" /></td>
          </tr>
          <tr>
            <td><label for="posterUrl">Poster Url</label></td>
            <td><input type="text" name="posterUrl" id="posterUrl" value="{{posterUrl}}" /></td>
          </tr>
          <tr>
            <td></td>
            <td><button type="submit" name="" id="" value="Edit Movie">Edit Movie</button></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
