<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/css/style.css" title="" type="text/css" />
    <title></title>
  </head>
  <body>
    <section>
      <h2>Vinh's Movie Ratings</h2>
      <h3>See if your opinions are correct!</h3>
    </section>
     <table class="index" width="100%">
       <thead>
         <tr>
           <th><h2>All Movies</h2></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th></th>
           <th><a href="/movies/new"><button type="new">New Movie</button></a></th>
         </tr>
         <tr>
           <th>Title</th>
           <th>Director</th>
           <th>Year</th>
           <th>My Rating</th>
           <th></th>
           <th></th>
         </tr>
       </thead>
    {{#movies}}
      <tbody>
         <tr>
           <td><a href="/movies/{{_id}}">{{title}}</a></td>
           <td>{{director}}</td>
           <td>{{year}}</td>
           <td>{{myRating}}</td>
           <td><a href="/movies/{{_id}}/delete"><button type="delete">Delete Movie</button></a></td>
           <td><a href="/movies/{{_id}}/edit"><button type="edit">Edit</button></a></td>
         </tr>
      </tbody>
    {{/movies}}
  </body>
</html>
